{% extends "base.html" %}
{% block title %} Signup {% endblock %}

{% block content %}
<div>
    <form method="POST" id="add_link_form">
        {{ form.hidden_tag() }}

        {% for field in form if field.widget.input_type != 'hidden' %}
        {% for error in field.errors %}
            <span>{{ error }}</span>
        {% endfor %}
        <span>
            {{ field.label.text }}
            {{ field(placeholder=field.label.text, class="form-control") }}
        </span>
        {% endfor %}

        <button>Add link</button>
    </form>
</div>
{% endblock %}