{% extends "base.html" %}
{% block title %} Login {% endblock %}

{% block content %}
    <div class="content">
        <div class="login">
            <h2>Login</h2>
            <p>Add your details to get back into the app</p>
            <form method="POST" id="login_form">
                {{ form.hidden_tag() }}

                {% for field in form if field.widget.input_type != 'hidden' %}
                {% for error in field.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
                    {{ field.label.text }}
                    {{ field(placeholder=field.label.text, class="form-control") }}
                {% endfor %}

                <button>Sign in</button>
            </form>
            <div>
                <p>Don't have an account? </p>
                <a href="/signup" class="">Sign up</a>
            </div>
        </div>
    </div>
{% endblock %}