{% extends "base.html" %}
{% block title %} Save shortened link {% endblock %}

{% block content %}
    <div class="content">
        <div class="short-link">
            <h2>Save shortened link</h2>
            <form action="/link/short/add" method="POST" id="save-short-form">
                <div class="form_container">
                    <div class="short-form-div">
                        <label for="link" class="link">Link</label>
                        <input type="text" class="link" name="link" value={{link}}>
                    </div>
                    <div class="short-form-div">
                        <label for="platform" class="platform">Platform</label>
                        <input type="text" class="platform" name="platform">
                    </div>
                    <button class="btn"><a href="/" class="">Cancel</a></button>
                    <input type="submit" value="Submit" class="btn">
                </div>
            </form>
        </div>
    </div>

{% endblock %}